@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Asqa_Web.Models.CombinedProjektenMitarbeiterViewModel

<div class="text-center">
    <img src="~/images/AsqaPersonal2.jpeg" alt="Welcome Image" style="max-width: 80%; height: auto;" />

<h1></h1>
    <form asp-action="Select" method="post" class="center-form">
        <div class="form-group">
            <label for="SelectedProjektenId" class="mr-2"></label>
            <div class="input-group">
                <select asp-for="SelectProjektenViewModel.SelectedProjektenId" class="form-control" asp-items="Model.SelectProjektenViewModel.ProjektenList" style="max-width: 300px;">
                    <option value="">-- Select Projekt --</option>
                </select>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Select</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Projekten")'">Add Projekt</button>

                </div>
            </div>
        </div>
    </form>




















@if (Model.SelectProjektenViewModel.SelectedProjektenId != 0)
{
    <div class="mt-4">
        <h3>Projekten Details</h3>
        <p><strong>Projekt Name:</strong> @Model.SelectProjektenViewModel.Proj_Name</p>
    


               <h3>Mitarbeiter Details</h3>
        @if (Model.Berater_Projekte != null && Model.Berater_Projekte.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Nachname</th>
                        <th>Vorname</th>
                        <th> Rolle</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Taetigkeiten</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var projekt in Model.Berater_Projekte)
                    {
                        <tr>
                            <td>@projekt.Ma_Nachname</td>
                            <td>@projekt.Ma_Vorname</td>
                            <td>@projekt.Rolle</td>
                            <td>@projekt.StartDate.ToString("dd.MM.yyyy")</td>
                            <td>@projekt.EndDate?.ToString("dd.MM.yyyy")</td>
                                <td>
                                    @if (projekt.TaetigkeitenDescriptions != null && projekt.TaetigkeitenDescriptions.Any())
                                    {
                                        <a href="#" onclick="toggleDetails('@projekt.Id')">Details</a>
                                        <div id="details-@projekt.Id" class="details" style="display: none;">
                                            <ul>
                                                @foreach (var taetigkeit in projekt.TaetigkeitenDescriptions)
                                                {
                                                    <li>@taetigkeit</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Mitarbeiter found for this project.</p>
        }
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}