@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Asqa_Web.Models.CombinedProjektenMitarbeiterViewModel

<h1>Select Projekten</h1>

<form asp-action="Select" method="post">
    <div class="form-group">
        <label for="SelectedProjektenId">Select Projekt</label>
        <select asp-for="SelectProjektenViewModel.SelectedProjektenId" class="form-control" asp-items="Model.SelectProjektenViewModel.ProjektenList">
            <option value="">-- Select Projekt --</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Select</button>

    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Projekten")'">Add Projekt</button>

</form>

@if (Model.SelectProjektenViewModel.SelectedProjektenId != 0)
{
    <div class="mt-4">
        <h3>Projekten Details</h3>
        <p><strong>Projekt Name:</strong> @Model.SelectProjektenViewModel.Proj_Name</p>
    
}

               <h3>Mitarbeiter Details</h3>
        @if (Model.Ma_Projekte != null && Model.Ma_Projekte.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Nachname</th>
                        <th>Vorname</th>
                        <th> Rolle</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Taetigkeiten</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var projekt in Model.Ma_Projekte)
                    {
                        <tr>
                            <td>@projekt.Mitarbeiter.Ma_Nachname</td>
                            <td>@projekt.Mitarbeiter.Ma_Vorname</td>
                            <td>@projekt.Rolle</td>
                            <td>@projekt.StartDate.ToString("dd.MM.yyyy")</td>
                            <td>@projekt.EndDate?.ToString("dd.MM.yyyy")</td>
                            <td>@projekt.Taetigkeiten</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Mitarbeiter found for this project.</p>
        }
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}