@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Asqa_Web.Models.KompetenzViewModel>
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>@ViewData["Title"]</h2>

<style>
	/* .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;  Adjust the gap between buttons as needed 
        flex-wrap: wrap;
		}*/

	/*  .center-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;  Adjust the height as needed
		}*/
</style>

<div class="center-container">

<div class="button-container">
    <div class="nav-item mb-2">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Rolle")'">Rolle</button>
    </div>
    <div class="nav-item mb-2">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Taetigkeit")'">Taetigkeit</button>
    </div>
    <div class="nav-item mb-2">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Kompetenz")'">Kompetenz</button>
    </div>
    <div class="nav-item mb-2">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Sprache")'">Sprache</button>
    </div>
        <div class="nav-item mb-2">
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Ausbildungen")'">Ausbildung</button>
        </div>

	<div class="input-group-append">
		<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Mitarbeiter")'">Add New Mitarbeiter</button>
	</div>
</div>
</div>

