@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Asqa_Web.Models.Entities.Berater_Projekten>

@{
    ViewData["Title"] = "Berater Projekt List";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Berater Projekt</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Mitarbeiter Name</th>
			<th>Projekt Name</th>
			<th>Rolle</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Taetigkeiten</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Mitarbeiter.Ma_Nachname</td>
                <td>@item.Projekten.Proj_Name</td>
                <td>@item.Rolle?.Rolle_name</td>

                <td>@item.StartDate.ToString("dd.MM.yyyy")</td>
                <td>@item.EndDate?.ToString("dd.MM.yyyy")</td>
                <td>
                    @if (item.Berater_Projekt_Taetigkeiten != null && item.Berater_Projekt_Taetigkeiten.Any())
                    {
                        <a href="#" onclick="toggleDetails('@item.Id')">Details</a>
                        <div id="details-@item.Id" class="details" style="display: none;">
                            <ul>
                                @foreach (var taetigkeit in item.Berater_Projekt_Taetigkeiten)
                                {
                                    <li>@taetigkeit.Taetigkeit.Description</li>
                                }
                            </ul>
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        function toggleDetails(id) {
            var detailsDiv = document.getElementById("details-" + id);
            if (detailsDiv.style.display === "none") {
                detailsDiv.style.display = "block";
            } else {
                detailsDiv.style.display = "none";
            }
        }
    </script>
}